.main{
    margin: 0;
    margin-bottom: 30px;
    display:flex;  
    height: 684px;
    background-color: #2a2b2c;
}

.contato{
    width:65vh;
    margin:5% ;
}

.contato h1{
    font-size:48px;
    margin-bottom:15%;
    color: #FFFFFF;
}

.contato p {
    font-size:20px;
    color: #FFFFFF;    
}

.contato-form{
    font-size: 20px;
    width: 100vh;
    height:80%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
}

.nome-email{
    display:flex;
    justify-content: space-between;
    
}

span {
    color: #a7a7a7;
}

.titulo-input {
    color: #FFFFFF;
}

.form-btn{
    display: flex;
    justify-content: flex-end;
}
