.containerGeralConecte{
    width: 100vw;
    max-width: 100%;
    height: 51vh;
    background-color: #2a2b2c;
}

.gradiente {
    background-color: #2a2b2c;
    background: linear-gradient(0deg, #2a2b2c 35%, #f6f6f7 103%);
    width: 100%;
    height: 80px;
 }
 
.seta {
    display: flex;
    justify-content: center;
    padding-top: -10px;
}

.gradiente2 {
    background-color: #1b1b1b;
    background: linear-gradient(0deg, #f6f6f7 35%, #2a2b2c 103%);
    width: 100%;
    height: 100px;
 }
 

.containerConecte{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    background-color: #2a2b2c;
    }

.textoConecte{
    margin-top: 4%;
    text-align: start;
    max-width: 70% ;
    color: white;
    
    
}
.containerimg{
    display: flex;
    justify-content: center;
    background-color: #2a2b2c;
    padding-bottom: 5%;
}
#efeito:hover{
    opacity: 50%;
    transition: 0.8s;
}