.containerGeralConecte{
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    background-color: #DCE9E2;
}
.containerConecte{
    display: flex;
    justify-content: center;
    width: 100%;
    }

.textoConecte{
    margin-top: 5%;
    text-align: start;
    max-width: 70% ;
    
}

.containerRegioes{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 5%;
    background-color: #DCE9E2;
}
.regiaoNorte{
    text-align: center;
    color: #C4C4C4;
    font-size: 24px;
}
.regiaoNordeste{
    
    text-align: center;
    color: #C4C4C4;
    font-size: 24px;
}
.regiaoCentro {
    text-align: center;
    color: #C4C4C4;
    font-size: 24px;

}
.regiaoSudeste{
    text-align: center;
    color: #C4C4C4;
    font-size: 24px;
}
.regiaoSul {
    text-align: center;
    color: #C4C4C4;
    font-size: 24px;

}
.alinhamentoTextoNordeste {
    margin-top: 50%;
}
.alinhamentoSul{
    margin-top: 40%;
}
#alinhamentoMulheres {
    margin-bottom: 0px;
}

@media only screen and (max-width: 480px) {

    #alinhamentoMulheres  {
    
      font-size: 0%;
    
    }
}    
