div.containerPlanFirst{
   width: 100vw;
   height: 100vh;
   max-width: 100%;
   background-image: url("../../../assets/Images/culturaisdesk.png");
   background-repeat:no-repeat;
   background-size:cover;
   background-position:center;
   color: white;
  
}
div.containerPlanTituloFirst{
text-shadow: 2px 4px 5px black;
width: 38vw;
height: 10vh;
text-align: left;
padding-top: 14%;
margin-left: 7%;
}
div.containerPlanTituloFirst h1{
   font-size: 52px;
}
div.containerPlanTituloFirst p{
   font-size: 36px;
}

