@import url('https://fonts.googleapis.com/css2?family=Fascinate&family=Kdam+Thmor+Pro&family=Montserrat:wght@100&family=Questrial&family=Roboto:wght@300&family=Ubuntu&display=swap');

.containerApoie {
   width: 100vw;
   max-width: 100%;
   height: 120vh;
   background-image: url("../../assets/Images/apoie.png");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   color: white;
   display: flex;
   flex-wrap: wrap;
   font-family: 'Roboto', sans-serif;
}

.textoApoie {
   max-width: 40vw;
   min-height: 30vh;
   margin-left: 20%;
}

.textoApoie h1 {
   margin-top: 15vh;
   font-family: 'Roboto', sans-serif;
   font-size: 48px;
   font-weight: 700;
   text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   font-weight: bold;
   text-shadow: 1px 5px 5px black;
}

.textoApoie p {
   font-size: 36px;
   font-family: 'Roboto', sans-serif;
   text-shadow: 1px 5px 5px black;
   width: 85%;
}

#buttonApoie {
   font-family: 'Roboto', sans-serif;
    font-weight: 700;
    border: none;
    background: #FEC901;
    box-shadow: 0px 4.33272px 4.33272px rgba(0, 0, 0, 0.95);
    padding: 10px 50px 10px 50px;
    margin-top: 5%;
    font-size: 28px;
    border-radius: 32.5px;
    color: #424243;
    transition: all 0.3s;
    cursor: pointer;
}

#buttonApoie:hover {
   background-color: #F6980B;
   color: #1A1A1B;
   transition: 0.5s;
}

.gradienteApoie {
   background: url(photo-1533035353720-f1c6a75cd8ab.jpg), linear-gradient(111.17deg, rgba(255, 255, 255, 0.02) 0.84%, rgba(255, 255, 255, 0.005) 63.92%);
   mix-blend-mode: normal;
   backdrop-filter: blur(10px);
   width: 100%;
   height: 80px;
   position: absolute;
   top: 5070px;
}

.seta {
   display: flex;
   justify-content: center;
   padding-top: -10px;
}

@media screen and (max-width: 1400px) {
   
   .textoApoie {
      margin-left: 10%;
   }
}

@media screen and (max-width: 1004px){

   .textoApoie h1{
      font-size: 48px;
      margin-left: 2%;
   }
   .textoApoie p {
      font-size: 36px;
      margin-left: 2%;
   }
   .textoApoie a{
      margin-left: 5%;
   }

}

@media only screen and (max-width: 480px) {

   .textoApoie {
      max-width: 70vw;
   }
   
   .textoApoie h1 {
      font-size: 36px;
   }

   .textoApoie p {
      font-size: 24px;
   }
}