.containerThird{
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    font-family: 'DM Sans', sans-serif;
    background-color: #DCE9E2;
    
}

.milhasThird{
    font-size: 48px;
    margin-left: 5%;
    padding-top: 5%;
    
}
.scrollMilhas{
    margin-top: 2%;
    width: 90vw;
    margin-left: 5%;
        
}
.adjustThird{
    padding: 0.1%;
}
.sombra{
    box-shadow: 0px 1px 2px rgba(97, 97, 97, 0.2), 0px 2px 4px rgba(97, 97, 97, 0.2);
        
}